@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@300;400;500&display=swap");

// COLORS
$color-prim: #0f161f;
$color-prim-dark: #0a131d;
$color-prim-light: #131620;
$color-second: #e7b06c;
$color-second-dark: #be8a4ac9;
// $color-second: #ee553a;
// $color-second-dark: #d42f12;
$color-grey-light: #f5f5f5;
$color-grey-dark: #646464;
$color-black: #111;
$color-white: #fcfcfc;

// FONTS
$font-prim: "Poppins", sans-serif;
$font-second: "Dancing Script", cursive;

// MEDIA Q
$bp-largest: 61.25em; // 980px
$bp-large: 56.25em; // 900px
$bp-medium: 52em; // 832px
$bp-small: 30.625em; // 490px

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    font-size: 60.5%;
  }
}

body {
  font-family: $font-prim;
  background-color: $color-grey-light;
  position: relative;
  overflow-x: hidden;
}

section {
  padding: 9rem 0;

  // @media only screen and (max-width: $bp-medium) {
  //     padding: 7rem 0;
  // }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.spinner-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: $color-black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.spinner {
  display: flex;
  align-items: center;
  height: 100vh;
}

.spinner h2 {
  animation: pulse 3s infinite linear;
  font-size: 7rem;
  text-transform: capitalize;
  z-index: 999999;
}

.spinner-circles span {
  width: 4rem;
  height: 4rem;
  color: $color-second;
  animation: pulse 3s infinite linear;
  z-index: 99999999;
}

@keyframes pulse {
  0% {
    transform: scale(0.85);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.85);
  }
}
