.events {
  background-color: $color-prim;

  &__container {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }
  }

  &__text-container {
    margin-right: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @media only screen and (max-width: $bp-medium) {
      align-items: center;
    }
  }

  &__heading {
    font-size: 2.2rem;
    color: $color-white;
    font-weight: 400;
    text-transform: capitalize;
  }

  &__cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  &__item {
    height: 60vh;
    width: 31rem;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-in-out;
    @media only screen and (max-width: $bp-small) {
      margin-bottom: 2rem;
    }

    &:hover {
      transform: translateY(-2rem);
    }

    &--1 {
      background-image: linear-gradient(
          rgba($color-prim, 0.7),
          rgba($color-prim, 0.7)
        ),
        url(../images/plates.jpg);

      &:hover {
        background-image: linear-gradient(
            rgba($color-prim, 0.5),
            rgba($color-prim, 0.5)
          ),
          url(../images/plates.jpg);
      }
    }

    &--2 {
      background-image: linear-gradient(
          rgba($color-prim, 0.7),
          rgba($color-prim, 0.7)
        ),
        url(../images/wine.jpg);

      &:hover {
        background-image: linear-gradient(
            rgba($color-prim, 0.5),
            rgba($color-prim, 0.5)
          ),
          url(../images/wine.jpg);
      }
    }

    &--3 {
      background-image: linear-gradient(
          rgba($color-prim, 0.7),
          rgba($color-prim, 0.7)
        ),
        url(../images/celebration.jpg);

      &:hover {
        background-image: linear-gradient(
            rgba($color-prim, 0.5),
            rgba($color-prim, 0.5)
          ),
          url(../images/celebration.jpg);
      }
    }
  }

  &__text-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__text {
    font-size: 5rem;
    font-weight: 300;
    font-family: $font-second;
    color: rgba($color-grey-light, 0.89);
    text-align: center;
  }

  &__num {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 300;
    border-left: 2px solid $color-second;
    padding: 0.5rem;
    color: $color-white;
  }
}
