.header {
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: -7.5rem;
  animation: fade 2s ease-in 1 forwards;
  &__buttons {
    position: absolute;
    right: 5%;
    display: flex;
  }

  &__btn {
    cursor: pointer;
    background-color: rgba($color-prim, 0.9);
    outline: none;
    border: 2px solid transparent;
    margin-right: 1rem;
    font-size: 3.6rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    transition: all 0.3s;

    &:hover {
      border: 2px solid $color-second;
      background-color: rgba($color-black, 1);
    }
  }
}

.header-small {
  height: 60vh;
  margin-top: -12.5rem;
  background-position: center;
  background-size: cover;
  background-color: rgba($color-prim, 0.7);
  animation: fade 2s ease-in 1 forwards;
  position: relative;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fade {
  from {
    background: rgba(0, 0, 0, 0.801);
  }

  to {
    background: rgba(0, 0, 0, 0.5);
  }
}
