.header {
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  animation: fade 2s ease-in 1 forwards;

  &__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25rem;
  }

  &__buttons {
    position: absolute;
    right: 5%;
    display: flex;
  }

  &__btn {
    cursor: pointer;
    background-color: rgba($color-prim, 0.9);
    outline: none;
    border: 2px solid transparent;
    margin-right: 1rem;
    font-size: 3.6rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    transition: all 0.3s;

    &:hover {
      border: 2px solid $color-second;
      background-color: rgba($color-black, 1);
    }
  }
}

@keyframes fade {
  from {
    background: rgba(0, 0, 0, 0.801);
  }

  to {
    background: rgba(0, 0, 0, 0.6);
  }
}

.header-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.719)),
    url(../images/salad.jpg);
  height: 60vh;
  background-position: center;
  background-size: cover;
  color: #fff;

  &__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 18rem;
    text-align: center;
  }
}

.header-gallery {
  background-image: linear-gradient(rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.719)),
    url(../images/hero-1.jpeg);
  height: 60vh;
  background-position: center;
  background-size: cover;
  color: #fff;

  &__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 18rem;
    text-align: center;
  }
}

.header-contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.719)),
    url(../images/hero.jpg);
  height: 60vh;
  background-position: center;
  background-size: cover;
  color: #fff;

  &__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 18rem;
    text-align: center;
  }
}
