.menu {
  background-color: $color-prim-light;
  padding: 0;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &__text {
    padding: 10rem;
    width: 90%;

    @media screen and (max-width: $bp-large) {
      width: 100%;
      padding: 5rem;
    }

    @media screen and (max-width: $bp-small) {
      text-align: center;
    }
  }

  &__small-text {
    font-size: 1.4rem;
    color: $color-grey-light;
    line-height: 1.9;
    letter-spacing: 0.1rem;
    font-weight: 300;
    text-align: left;

    @media screen and (max-width: $bp-small) {
      width: 102%;
      padding: 0 2.5rem;
    }

    // &::after {
    //     content: '';
    //     width: 25rem;
    //     height: .1rem;
    //     background-color: $color-grey-dark;
    //     display: block;
    //     margin-top: 1rem;
    // }
  }

  &__btn {
    background-color: $color-white;
    font-size: 1.5rem;
    padding: 1.5rem 3.5rem;
    color: $color-prim;
    border: 3px solid $color-second;
    transition: all 0.3s ease;
    max-width: 21rem;
    cursor: pointer;

    &:hover {
      background-color: $color-second;
    }
  }

  &__img-holder {
    width: 100%;
    overflow-x: hidden;
  }

  &__img-box {
    background-image: url(../images/pizza__hero.jpg);
    background-position: center;
    background-size: cover;
    height: 75vh;
    overflow-x: hidden;

    @media screen and (max-width: $bp-largest) {
      height: 40vh;
    }
  }
}
